# Transform
This notebook aims to facilitate the transformation process of the various reports into the required format. The required format is as follows:
Hereâ€™s a summary of the formatting-related information from the project specifications:

### File Name and Submission:
- **File Name Format**: `FDNACCT <space> Section_Individual Project_Surname, First Name`
  - Example: `FDNACCT C31A_Individual Project_Cruz, Juan`
- **Submit as**: Google Spreadsheet link.

### Sheets and Tabs:
- **Google Spreadsheet Sheet1**: Rename as `GJ` (General Journal).
- **Google Spreadsheet Sheet2**: Rename as `GL` (General Ledger).
- **Google Spreadsheet Sheet3**: Rename as `TB` (Trial Balance).

### General Journal Formatting:
- **Columns**: Date, Description, P/R, Debit, Credit.
- **Entry Rules**:
  - Leave a space after each journal entry.
  - Use compound entries where necessary.
  - Posting Reference (P/R) column should encode account numbers.
- **Pages**:
  - Rows 1-35: Page 1
  - Rows 36-70: Page 2
  - Rows 71-105: Page 3

### General Ledger Formatting:
- **Columns**: Date, Description, P/R or F, Debit, Credit, Balance.
- **Accounts**:
  - Open accounts by entering account names and numbers in the order of the Chart of Accounts.
  - Cross-reference with the P/R column.
  - Leave a space after every account.

### Trial Balance Formatting:
- Prepare the trial balance for the month ending September 30, 2024.

### Neatness and Orderliness (10% of the grade):
- The format should preserve neatness, place headings properly, use money columns correctly, and follow ruling procedures.

# PART 1 - The General Journal

In [257]:
import pandas as pd
import numpy as np
import sqlite3

In [258]:
conn = sqlite3.connect('accounting.db')

In [259]:
df_general_journal = pd.read_sql_query(
    """
    SELECT
        generaljournal.id AS journal_id,
        generaljournal.date,
        generaljournal.description,
        generaljournalentry.id AS entry_id,
        generaljournalentry.debit,
        generaljournalentry.credit,
        chartofaccounts.id AS account_id,
        chartofaccounts.account_title,
        chartofaccounts.account_type
    FROM generaljournal
    JOIN generaljournalentry ON generaljournal.id = generaljournalentry.journal_id
    JOIN chartofaccounts ON generaljournalentry.account_id = chartofaccounts.id
    """,
    conn
)

In [260]:
df_general_journal

,journal_id,date,description,entry_id,debit,credit,account_id,account_title,account_type
0,1,2023-09-01 00:00:00,Deposited cash and invested old deep cleaning ...,1,"52,000.00",NaN,101,Cash,Assets
1,1,2023-09-01 00:00:00,Deposited cash and invested old deep cleaning ...,2,NaN,"52,000.00",301,"Faith D. Nakpil, Capital",Ownerâ€™s Equity
2,1,2023-09-01 00:00:00,Deposited cash and invested old deep cleaning ...,3,"10,000.00",NaN,111,Cleaning Equipment,Assets
3,1,2023-09-01 00:00:00,Deposited cash and invested old deep cleaning ...,4,NaN,"10,000.00",301,"Faith D. Nakpil, Capital",Ownerâ€™s Equity
4,2,2023-09-03 00:00:00,Purchased cleaning supplies on account from Cl...,5,"21,400.00",NaN,103,Cleaning Supplies,Assets
5,2,2023-09-03 00:00:00,Purchased cleaning supplies on account from Cl...,6,NaN,"21,400.00",201,Accounts Payable,Liabilities
6,3,2023-09-05 00:00:00,Purchased cleaning equipment on account from A...,7,"15,600.00",NaN,111,Cleaning Equipment,Assets
7,3,2023-09-05 00:00:00,Purchased cleaning equipment on account from A...,8,NaN,"15,600.00",201,Accounts Payable,Liabilities
8,4,2023-09-06 00:00:00,"Purchased motorcycle for business use, partly ...",9,"10,000.00",NaN,112,Transportation Vehicle,Assets
9,4,2023-09-06 00:00:00,"Purchased motorcycle for business use, partly ...",10,NaN,"10,000.00",101,Cash,Assets
10,4,2023-09-06 00:00:00,"Purchased motorcycle for business use, partly ...",11,"37,000.00",NaN,112,Transportation Vehicle,Assets
11,4,2023-09-06 00:00:00,"Purchased motorcycle for business use, partly ...",12,NaN,"37,000.00",202,Notes Payable,Liabilities
12,5,2023-09-07 00:00:00,Paid rent for office space for the month,13,"7,300.00",NaN,503,Rent Expense,Expenses
13,5,2023-09-07 00:00:00,Paid rent for office space for the month,14,NaN,"7,300.00",101,Cash,Assets
14,6,2023-09-09 00:00:00,Received cash for cleaning services rendered,15,"31,800.00",NaN,101,Cash,Assets
15,6,2023-09-09 00:00:00,Received cash for cleaning services rendered,16,NaN,"31,800.00",401,Cleaning Revenues,Revenues
16,7,2023-09-10 00:00:00,Paid Facebook ads for advertisement,17,"1,700.00",NaN,504,Advertising Expense,Expenses
17,7,2023-09-10 00:00:00,Paid Facebook ads for advertisement,18,NaN,"1,700.00",101,Cash,Assets
18,8,2023-09-11 00:00:00,Paid insurance for the next six months,19,"1,700.00",NaN,104,Prepaid Insurance Expense,Assets
19,8,2023-09-11 00:00:00,Paid insurance for the next six months,20,NaN,"1,700.00",101,Cash,Assets
20,9,2023-09-12 00:00:00,Received advance payment for services to be pe...,21,"6,200.00",NaN,101,Cash,Assets
21,9,2023-09-12 00:00:00,Received advance payment for services to be pe...,22,NaN,"6,200.00",203,Unearned Service Revenue,Liabilities
22,10,2023-09-13 00:00:00,Paid partial amount to CleanFast Trading on ac...,23,"9,000.00",NaN,201,Accounts Payable,Liabilities
23,10,2023-09-13 00:00:00,Paid partial amount to CleanFast Trading on ac...,24,NaN,"9,000.00",101,Cash,Assets
24,11,2023-09-14 00:00:00,Paid miscellaneous expenses,25,"2,200.00",NaN,505,Miscellaneous Expense,Expenses
25,11,2023-09-14 00:00:00,Paid miscellaneous expenses,26,NaN,"2,200.00",101,Cash,Assets
26,12,2023-09-15 00:00:00,Billed Aim High Laboratories for cleaning serv...,27,"18,600.00",NaN,102,Accounts Receivable,Assets
27,12,2023-09-15 00:00:00,Billed Aim High Laboratories for cleaning serv...,28,NaN,"18,600.00",401,Cleaning Revenues,Revenues
28,13,2023-09-16 00:00:00,Paid employee salaries,29,"8,400.00",NaN,501,Salaries Expense,Expenses
29,13,2023-09-16 00:00:00,Paid employee salaries,30,NaN,"8,400.00",101,Cash,Assets
30,14,2023-09-20 00:00:00,Received partial payment from Aim High Laborat...,31,"9,800.00",NaN,101,Cash,Assets
31,14,2023-09-20 00:00:00,Received partial payment from Aim High Laborat...,32,NaN,"9,800.00",102,Accounts Receivable,Assets
32,15,2023-09-22 00:00:00,Paid partial payment on the note issued for mo...,33,"2,400.00",NaN,202,Notes Payable,Liabilities
33,15,2023-09-22 00:00:00,Paid partial payment on the note issued for mo...,34,NaN,"2,400.00",101,Cash,Assets
34,16,2023-09-25 00:00:00,Paid PLDT for telephone and internet expense,35,900.00,NaN,502,Utilities Expense,Expenses
35,16,2023-09-25 00:00:00,Paid PLDT for telephone and internet expense,36,NaN,900.00,101,Cash,Assets
36,17,2023-09-28 00:00:00,Paid employee salary for the period,37,"7,900.00",NaN,501,Salaries Expense,Expenses
37,17,2023-09-28 00:00:00,Paid employee salary for the period,38,NaN,"7,900.00",101,Cash,Assets
38,18,2023-09-29 00:00:00,Billed Precision Clinic for cleaning services ...,39,"22,500.00",NaN,102,Accounts Receivable,Assets
39,18,2023-09-29 00:00:00,Billed Precision Clinic for cleaning services ...,40,NaN,"22,500.00",401,Cleaning Revenues,Revenues
40,19,2023-09-30 00:00:00,Owner withdrew cash from the business,41,"10,000.00",NaN,302,"Faith D. Nakpil, Drawing",Ownerâ€™s Equity (Drawing)
41,19,2023-09-30 00:00:00,Owner withdrew cash from the business,42,NaN,"10,000.00",101,Cash,Assets

## Data Cleaning
Only the necessary columns would be retained and all other columns are dropped. These columns are: `date`, `description`, `p/r`, `debit` and `credit`

In [261]:
# Rename columns to match your format
df_general_journal.rename(columns={
    "date": "Date",
    "description": "Description",
    "account_id": "P/R",
    "debit": "Debit",
    "credit": "Credit",
    "account_title": "Account Title",
    "account_type": "Account Type"
}, inplace=True)

# Reformatting the Date Column.
The `date` column should be in the format: Month, Day. The column would be reformatted using list comprehension and f-strings.

In [262]:
df_general_journal['Date'] = pd.to_datetime(df_general_journal['Date']).dt.strftime('%b %d')

The code is designed to format a General Journal according to the given requirements. It processes journal entries from a DataFrame (df_general_journal) and structures them into a formatted DataFrame (df_general_journal_formatted) that:

Displays transactions grouped by their journal_id.
Shows the transaction's date and description at the top.
Lists account entries under Debit or Credit columns based on their normal balance side.
Includes the amounts next to the account names.
Separates transactions with blank lines for readability.

In [263]:
# Prepare the formatted General Journal
transactions = []

# Group by journal_id to process each transaction
for journal_id, group in df_general_journal.groupby('journal_id'):
    # Get Date and Description for the transaction
    date = group.iloc[0]['Date']
    description = group.iloc[0]['Description']
    date_written = False  # To only write Date once per transaction

    # Prepare transaction rows
    transaction_rows = []

    # Iterate over each entry in the transaction
    for idx, row in group.iterrows():
        account_name = row['Account Title']
        account_id = row['P/R']
        pr = account_id  # Posting Reference is account code

        # Prepare the row data
        entry_data = {
            'Date': date if not date_written else '',
            'P/R': pr,
            'Debit Account': '',
            'Credit Account': '',
            'Debit': '',
            'Credit': '',
            'Description': ''
        }
        date_written = True  # Date is written in the first row

        # Assign account to Debit or Credit based on whether 'Debit' or 'Credit' amount is non-zero
        debit_amount = row['Debit']
        credit_amount = row['Credit']

        if not pd.isnull(debit_amount) and debit_amount != 0:
            entry_data['Debit Account'] = account_name
            entry_data['Debit'] = debit_amount
        elif not pd.isnull(credit_amount) and credit_amount != 0:
            entry_data['Credit Account'] = account_name
            entry_data['Credit'] = credit_amount

        transaction_rows.append(entry_data)

    # Add the Description row
    transaction_rows.append({
        'Date': '',
        'P/R': '',
        'Debit Account': '',
        'Credit Account': '',
        'Debit': '',
        'Credit': '',
        'Description': description
    })

    # Insert an empty row after the description
    transaction_rows.append({
        'Date': '',
        'P/R': '',
        'Debit Account': '',
        'Credit Account': '',
        'Debit': '',
        'Credit': '',
        'Description': ''
    })

    # Append the transaction rows to the main list
    transactions.extend(transaction_rows)

# Create the final DataFrame
df_general_journal_formatted = pd.DataFrame(transactions)

# Display the formatted General Journal
print(df_general_journal_formatted.to_string(index=False))

  Date P/R             Debit Account           Credit Account     Debit    Credit                                                                      Description
Sep 01 101                      Cash                          52,000.00
       301                           Faith D. Nakpil, Capital           52,000.00
       111        Cleaning Equipment                          10,000.00
       301                           Faith D. Nakpil, Capital           10,000.00
                                                                                         Deposited cash and invested old deep cleaning equipment into the business

Sep 03 103         Cleaning Supplies                          21,400.00
       201                                   Accounts Payable           21,400.00
                                                                                                     Purchased cleaning supplies on account from CleanFast Trading

Sep 05 111        Cleaning Equipment                          15,600.00
       201                                   Accounts Payable           15,600.00
                                                                                                       Purchased cleaning equipment on account from A1 Merchandise

Sep 06 112    Transportation Vehicle                          10,000.00
       101                                               Cash           10,000.00
       112    Transportation Vehicle                          37,000.00
       202                                      Notes Payable           37,000.00
                                                                                  Purchased motorcycle for business use, partly financed by issuing a note payable

Sep 07 503              Rent Expense                           7,300.00
       101                                               Cash            7,300.00
                                                                                                                          Paid rent for office space for the month

Sep 09 101                      Cash                          31,800.00
       401                                  Cleaning Revenues           31,800.00
                                                                                                                      Received cash for cleaning services rendered

Sep 10 504       Advertising Expense                           1,700.00
       101                                               Cash            1,700.00
                                                                                                                               Paid Facebook ads for advertisement

Sep 11 104 Prepaid Insurance Expense                           1,700.00
       101                                               Cash            1,700.00
                                                                                                                            Paid insurance for the next six months

Sep 12 101                      Cash                           6,200.00
       203                           Unearned Service Revenue            6,200.00
                                                                                                  Received advance payment for services to be performed next month

Sep 13 201          Accounts Payable                           9,000.00
       101                                               Cash            9,000.00
                                                                                                               Paid partial amount to CleanFast Trading on account

Sep 14 505     Miscellaneous Expense                           2,200.00
       101                                               Cash            2,200.00
                                                                                                                                       Paid miscellaneous expenses

Sep 15 102       Accounts Receivable                          18,600.00
       401                                  Cleaning Revenues           18,600.00
                                                                                                       Billed Aim High Laboratories for cleaning services rendered

Sep 16 501          Salaries Expense                           8,400.00
       101                                               Cash            8,400.00
                                                                                                                                            Paid employee salaries

Sep 20 101                      Cash                           9,800.00
       102                                Accounts Receivable            9,800.00
                                                                                                    Received partial payment from Aim High Laboratories on account

Sep 22 202             Notes Payable                           2,400.00
       101                                               Cash            2,400.00
                                                                                                   Paid partial payment on the note issued for motorcycle purchase

Sep 25 502         Utilities Expense                             900.00
       101                                               Cash              900.00
                                                                                                                      Paid PLDT for telephone and internet expense

Sep 28 501          Salaries Expense                           7,900.00
       101                                               Cash            7,900.00
                                                                                                                               Paid employee salary for the period

Sep 29 102       Accounts Receivable                          22,500.00
       401                                  Cleaning Revenues           22,500.00
                                                                                                            Billed Precision Clinic for cleaning services rendered

Sep 30 302  Faith D. Nakpil, Drawing                          10,000.00
       101                                               Cash           10,000.00
                                                                                                                             Owner withdrew cash from the business

In [264]:
df_general_journal_formatted

,Date,P/R,Debit Account,Credit Account,Debit,Credit,Description
0,Sep 01,101,Cash,,"52,000.00",,
1,,301,,"Faith D. Nakpil, Capital",,"52,000.00",
2,,111,Cleaning Equipment,,"10,000.00",,
3,,301,,"Faith D. Nakpil, Capital",,"10,000.00",
4,,,,,,,Deposited cash and invested old deep cleaning ...
5,,,,,,,
6,Sep 03,103,Cleaning Supplies,,"21,400.00",,
7,,201,,Accounts Payable,,"21,400.00",
8,,,,,,,Purchased cleaning supplies on account from Cl...
9,,,,,,,
10,Sep 05,111,Cleaning Equipment,,"15,600.00",,
11,,201,,Accounts Payable,,"15,600.00",
12,,,,,,,Purchased cleaning equipment on account from A...
13,,,,,,,
14,Sep 06,112,Transportation Vehicle,,"10,000.00",,
15,,101,,Cash,,"10,000.00",
16,,112,Transportation Vehicle,,"37,000.00",,
17,,202,,Notes Payable,,"37,000.00",
18,,,,,,,"Purchased motorcycle for business use, partly ..."
19,,,,,,,
20,Sep 07,503,Rent Expense,,"7,300.00",,
21,,101,,Cash,,"7,300.00",
22,,,,,,,Paid rent for office space for the month
23,,,,,,,
24,Sep 09,101,Cash,,"31,800.00",,
25,,401,,Cleaning Revenues,,"31,800.00",
26,,,,,,,Received cash for cleaning services rendered
27,,,,,,,
28,Sep 10,504,Advertising Expense,,"1,700.00",,
29,,101,,Cash,,"1,700.00",
30,,,,,,,Paid Facebook ads for advertisement
31,,,,,,,
32,Sep 11,104,Prepaid Insurance Expense,,"1,700.00",,
33,,101,,Cash,,"1,700.00",
34,,,,,,,Paid insurance for the next six months
35,,,,,,,
36,Sep 12,101,Cash,,"6,200.00",,
37,,203,,Unearned Service Revenue,,"6,200.00",
38,,,,,,,Received advance payment for services to be pe...
39,,,,,,,
40,Sep 13,201,Accounts Payable,,"9,000.00",,
41,,101,,Cash,,"9,000.00",
42,,,,,,,Paid partial amount to CleanFast Trading on ac...
43,,,,,,,
44,Sep 14,505,Miscellaneous Expense,,"2,200.00",,
45,,101,,Cash,,"2,200.00",
46,,,,,,,Paid miscellaneous expenses
47,,,,,,,
48,Sep 15,102,Accounts Receivable,,"18,600.00",,
49,,401,,Cleaning Revenues,,"18,600.00",
50,,,,,,,Billed Aim High Laboratories for cleaning serv...
51,,,,,,,
52,Sep 16,501,Salaries Expense,,"8,400.00",,
53,,101,,Cash,,"8,400.00",
54,,,,,,,Paid employee salaries
55,,,,,,,
56,Sep 20,101,Cash,,"9,800.00",,
57,,102,,Accounts Receivable,,"9,800.00",
58,,,,,,,Received partial payment from Aim High Laborat...
59,,,,,,,
60,Sep 22,202,Notes Payable,,"2,400.00",,
61,,101,,Cash,,"2,400.00",
62,,,,,,,Paid partial payment on the note issued for mo...
63,,,,,,,
64,Sep 25,502,Utilities Expense,,900.00,,
65,,101,,Cash,,900.00,
66,,,,,,,Paid PLDT for telephone and internet expense
67,,,,,,,
68,Sep 28,501,Salaries Expense,,"7,900.00",,
69,,101,,Cash,,"7,900.00",
70,,,,,,,Paid employee salary for the period
71,,,,,,,
72,Sep 29,102,Accounts Receivable,,"22,500.00",,
73,,401,,Cleaning Revenues,,"22,500.00",
74,,,,,,,Billed Precision Clinic for cleaning services ...
75,,,,,,,
76,Sep 30,302,"Faith D. Nakpil, Drawing",,"10,000.00",,
77,,101,,Cash,,"10,000.00",
78,,,,,,,Owner withdrew cash from the business
79,,,,,,,

In [265]:
df_general_journal_formatted.to_excel("general-journal.xlsx")

# PART 2 - The General Ledger

In [266]:
conn = sqlite3.connect('accounting.db')
df_general_journal = pd.read_sql_query(
    """
    SELECT
        generaljournal.id as journal_id,
        generaljournal.date,
        generaljournal.description as journal_description,
        generaljournalentry.id as entry_id,
        generaljournalentry.debit,
        generaljournalentry.credit,
        chartofaccounts.id as account_id,
        chartofaccounts.account_title as account_title,
        chartofaccounts.account_type as account_type
    FROM
        generaljournal
    JOIN
        generaljournalentry ON generaljournal.id = generaljournalentry.journal_id
    JOIN
        chartofaccounts ON generaljournalentry.account_id = chartofaccounts.id
    ORDER BY
        generaljournal.date, generaljournal.id, generaljournalentry.id
    """,
    conn
)

In [267]:
# Convert date column to datetime
df_general_journal['date'] = pd.to_datetime(df_general_journal['date'])

# Sort the DataFrame
df_general_journal.sort_values(by=['date', 'journal_id', 'entry_id'], inplace=True)

# Reset index
df_general_journal.reset_index(drop=True, inplace=True)

# Display the DataFrame
df_general_journal.head()

,journal_id,date,journal_description,entry_id,debit,credit,account_id,account_title,account_type
0,1,2023-09-01,Deposited cash and invested old deep cleaning ...,1,"52,000.00",NaN,101,Cash,Assets
1,1,2023-09-01,Deposited cash and invested old deep cleaning ...,2,NaN,"52,000.00",301,"Faith D. Nakpil, Capital",Ownerâ€™s Equity
2,1,2023-09-01,Deposited cash and invested old deep cleaning ...,3,"10,000.00",NaN,111,Cleaning Equipment,Assets
3,1,2023-09-01,Deposited cash and invested old deep cleaning ...,4,NaN,"10,000.00",301,"Faith D. Nakpil, Capital",Ownerâ€™s Equity
4,2,2023-09-03,Purchased cleaning supplies on account from Cl...,5,"21,400.00",NaN,103,Cleaning Supplies,Assets

In [268]:
# Get the list of accounts from the general journal
accounts = df_general_journal['account_title'].unique()

# Initialize a dictionary to hold ledger DataFrames for each account
ledgers = {}

# Loop over each account to create its ledger
for account in accounts:
    # Filter entries for the current account
    df_account_entries = df_general_journal[df_general_journal['account_title'] == account].copy()

    # Calculate the running balance
    df_account_entries['Balance'] = 0.0
    balance = 0.0

    # Determine the normal balance side
    account_type = df_account_entries['account_type'].iloc[0]
    if account_type in ['Assets', 'Expenses', 'Ownerâ€™s Equity (Drawing)']:
        normal_side = 'Debit'
    else:
        normal_side = 'Credit'

    # Calculate balance for each entry
    for idx, row in df_account_entries.iterrows():
        debit = row['debit'] if not pd.isnull(row['debit']) else 0.0
        credit = row['credit'] if not pd.isnull(row['credit']) else 0.0

        if normal_side == 'Debit':
            balance += debit - credit
        else:
            balance += credit - debit

        df_account_entries.at[idx, 'Balance'] = balance

    # Format the DataFrame
    df_account_entries['Date'] = df_account_entries['date'].dt.strftime('%b %d')
    df_account_entries.rename(columns={
        'journal_description': 'Description',
        'journal_id': 'P/R or F',
        'debit': 'Debit',
        'credit': 'Credit'
    }, inplace=True)

    # Select relevant columns
    df_account_ledger = df_account_entries[['Date', 'Description', 'P/R or F', 'Debit', 'Credit', 'Balance']]

    # Append the ledger DataFrame to the dictionary
    ledgers[account] = df_account_ledger

In [269]:
# Fetch the Chart of Accounts to get the correct order
conn = sqlite3.connect('accounting.db')
df_chart_of_accounts = pd.read_sql_query(
    """
    SELECT id as account_id, account_title, account_type
    FROM chartofaccounts
    ORDER BY id
    """,
    conn
)
conn.close()

# Initialize a list to hold the ledger rows
ledger_rows = []

# Loop over each account in the Chart of Accounts
for idx, account_row in df_chart_of_accounts.iterrows():
    account = account_row['account_title']

    # Check if the account has entries
    if account in ledgers:
        df_account_ledger = ledgers[account]

        # Append the account header
        ledger_rows.append({'Date': '', 'Description': f'Account: {account_row["account_id"]} - {account}', 'P/R or F': '', 'Debit': '', 'Credit': '', 'Balance': ''})
        # Append column headers
        ledger_rows.append({'Date': 'Date', 'Description': 'Description', 'P/R or F': 'P/R or F', 'Debit': 'Debit', 'Credit': 'Credit', 'Balance': 'Balance'})

        # Append the ledger entries
        for idx, row in df_account_ledger.iterrows():
            ledger_rows.append(row.to_dict())

        # Append an empty row for spacing
        ledger_rows.append({'Date': '', 'Description': '', 'P/R or F': '', 'Debit': '', 'Credit': '', 'Balance': ''})
    else:
        # Accounts with no entries
        continue

# Create the final General Ledger DataFrame
df_general_ledger = pd.DataFrame(ledger_rows)

In [270]:
# Display the General Ledger
pd.set_option('display.max_rows', None)  # To display all rows
pd.set_option('display.max_columns', None)
df_general_ledger

,Date,Description,P/R or F,Debit,Credit,Balance
0,,Account: 101 - Cash,,,,
1,Date,Description,P/R or F,Debit,Credit,Balance
2,Sep 01,Deposited cash and invested old deep cleaning ...,1,"52,000.00",NaN,"52,000.00"
3,Sep 06,"Purchased motorcycle for business use, partly ...",4,NaN,"10,000.00","42,000.00"
4,Sep 07,Paid rent for office space for the month,5,NaN,"7,300.00","34,700.00"
5,Sep 09,Received cash for cleaning services rendered,6,"31,800.00",NaN,"66,500.00"
6,Sep 10,Paid Facebook ads for advertisement,7,NaN,"1,700.00","64,800.00"
7,Sep 11,Paid insurance for the next six months,8,NaN,"1,700.00","63,100.00"
8,Sep 12,Received advance payment for services to be pe...,9,"6,200.00",NaN,"69,300.00"
9,Sep 13,Paid partial amount to CleanFast Trading on ac...,10,NaN,"9,000.00","60,300.00"
10,Sep 14,Paid miscellaneous expenses,11,NaN,"2,200.00","58,100.00"
11,Sep 16,Paid employee salaries,13,NaN,"8,400.00","49,700.00"
12,Sep 20,Received partial payment from Aim High Laborat...,14,"9,800.00",NaN,"59,500.00"
13,Sep 22,Paid partial payment on the note issued for mo...,15,NaN,"2,400.00","57,100.00"
14,Sep 25,Paid PLDT for telephone and internet expense,16,NaN,900.00,"56,200.00"
15,Sep 28,Paid employee salary for the period,17,NaN,"7,900.00","48,300.00"
16,Sep 30,Owner withdrew cash from the business,19,NaN,"10,000.00","38,300.00"
17,,,,,,
18,,Account: 102 - Accounts Receivable,,,,
19,Date,Description,P/R or F,Debit,Credit,Balance
20,Sep 15,Billed Aim High Laboratories for cleaning serv...,12,"18,600.00",NaN,"18,600.00"
21,Sep 20,Received partial payment from Aim High Laborat...,14,NaN,"9,800.00","8,800.00"
22,Sep 29,Billed Precision Clinic for cleaning services ...,18,"22,500.00",NaN,"31,300.00"
23,,,,,,
24,,Account: 103 - Cleaning Supplies,,,,
25,Date,Description,P/R or F,Debit,Credit,Balance
26,Sep 03,Purchased cleaning supplies on account from Cl...,2,"21,400.00",NaN,"21,400.00"
27,,,,,,
28,,Account: 104 - Prepaid Insurance Expense,,,,
29,Date,Description,P/R or F,Debit,Credit,Balance
30,Sep 11,Paid insurance for the next six months,8,"1,700.00",NaN,"1,700.00"
31,,,,,,
32,,Account: 111 - Cleaning Equipment,,,,
33,Date,Description,P/R or F,Debit,Credit,Balance
34,Sep 01,Deposited cash and invested old deep cleaning ...,1,"10,000.00",NaN,"10,000.00"
35,Sep 05,Purchased cleaning equipment on account from A...,3,"15,600.00",NaN,"25,600.00"
36,,,,,,
37,,Account: 112 - Transportation Vehicle,,,,
38,Date,Description,P/R or F,Debit,Credit,Balance
39,Sep 06,"Purchased motorcycle for business use, partly ...",4,"10,000.00",NaN,"10,000.00"
40,Sep 06,"Purchased motorcycle for business use, partly ...",4,"37,000.00",NaN,"47,000.00"
41,,,,,,
42,,Account: 201 - Accounts Payable,,,,
43,Date,Description,P/R or F,Debit,Credit,Balance
44,Sep 03,Purchased cleaning supplies on account from Cl...,2,NaN,"21,400.00","21,400.00"
45,Sep 05,Purchased cleaning equipment on account from A...,3,NaN,"15,600.00","37,000.00"
46,Sep 13,Paid partial amount to CleanFast Trading on ac...,10,"9,000.00",NaN,"28,000.00"
47,,,,,,
48,,Account: 202 - Notes Payable,,,,
49,Date,Description,P/R or F,Debit,Credit,Balance
50,Sep 06,"Purchased motorcycle for business use, partly ...",4,NaN,"37,000.00","37,000.00"
51,Sep 22,Paid partial payment on the note issued for mo...,15,"2,400.00",NaN,"34,600.00"
52,,,,,,
53,,Account: 203 - Unearned Service Revenue,,,,
54,Date,Description,P/R or F,Debit,Credit,Balance
55,Sep 12,Received advance payment for services to be pe...,9,NaN,"6,200.00","6,200.00"
56,,,,,,
57,,"Account: 301 - Faith D. Nakpil, Capital",,,,
58,Date,Description,P/R or F,Debit,Credit,Balance
59,Sep 01,Deposited cash and invested old deep cleaning ...,1,NaN,"52,000.00","52,000.00"
60,Sep 01,Deposited cash and invested old deep cleaning ...,1,NaN,"10,000.00","62,000.00"
61,,,,,,
62,,"Account: 302 - Faith D. Nakpil, Drawing",,,,
63,Date,Description,P/R or F,Debit,Credit,Balance
64,Sep 30,Owner withdrew cash from the business,19,"10,000.00",NaN,"10,000.00"
65,,,,,,
66,,Account: 401 - Cleaning Revenues,,,,
67,Date,Description,P/R or F,Debit,Credit,Balance
68,Sep 09,Received cash for cleaning services rendered,6,NaN,"31,800.00","31,800.00"
69,Sep 15,Billed Aim High Laboratories for cleaning serv...,12,NaN,"18,600.00","50,400.00"
70,Sep 29,Billed Precision Clinic for cleaning services ...,18,NaN,"22,500.00","72,900.00"
71,,,,,,
72,,Account: 501 - Salaries Expense,,,,
73,Date,Description,P/R or F,Debit,Credit,Balance
74,Sep 16,Paid employee salaries,13,"8,400.00",NaN,"8,400.00"
75,Sep 28,Paid employee salary for the period,17,"7,900.00",NaN,"16,300.00"
76,,,,,,
77,,Account: 502 - Utilities Expense,,,,
78,Date,Description,P/R or F,Debit,Credit,Balance
79,Sep 25,Paid PLDT for telephone and internet expense,16,900.00,NaN,900.00
80,,,,,,
81,,Account: 503 - Rent Expense,,,,
82,Date,Description,P/R or F,Debit,Credit,Balance
83,Sep 07,Paid rent for office space for the month,5,"7,300.00",NaN,"7,300.00"
84,,,,,,
85,,Account: 504 - Advertising Expense,,,,
86,Date,Description,P/R or F,Debit,Credit,Balance
87,Sep 10,Paid Facebook ads for advertisement,7,"1,700.00",NaN,"1,700.00"
88,,,,,,
89,,Account: 505 - Miscellaneous Expense,,,,
90,Date,Description,P/R or F,Debit,Credit,Balance
91,Sep 14,Paid miscellaneous expenses,11,"2,200.00",NaN,"2,200.00"
92,,,,,,

In [271]:
df_general_ledger.to_excel("general_ledger.xlsx")

# Part 3 - Trial Balance

In [272]:
conn = sqlite3.connect('accounting.db')
df_general_journal = pd.read_sql_query(
    """
    SELECT
        generaljournal.id as journal_id,
        generaljournal.date,
        generaljournal.description as journal_description,
        generaljournalentry.id as entry_id,
        generaljournalentry.debit,
        generaljournalentry.credit,
        chartofaccounts.id as account_id,
        chartofaccounts.account_title as account_title,
        chartofaccounts.account_type as account_type
    FROM
        generaljournal
    JOIN
        generaljournalentry ON generaljournal.id = generaljournalentry.journal_id
    JOIN
        chartofaccounts ON generaljournalentry.account_id = chartofaccounts.id
    ORDER BY
        generaljournal.date, generaljournal.id, generaljournalentry.id
    """,
    conn
)

In [273]:
# Convert date column to datetime
df_general_journal['date'] = pd.to_datetime(df_general_journal['date'])

# Sort the DataFrame
df_general_journal.sort_values(by=['date', 'journal_id', 'entry_id'], inplace=True)

# Reset index
df_general_journal.reset_index(drop=True, inplace=True)

In [274]:
# Get the list of accounts from the general journal
accounts = df_general_journal['account_title'].unique()

# Initialize a dictionary to hold ledger DataFrames for each account
ledgers = {}

# Loop over each account to create its ledger
for account in accounts:
    # Filter entries for the current account
    df_account_entries = df_general_journal[df_general_journal['account_title'] == account].copy()

    # Calculate the running balance
    df_account_entries['Balance'] = 0.0
    balance = 0.0

    # Determine the normal balance side
    account_type = df_account_entries['account_type'].iloc[0]
    if account_type in ['Assets', 'Expenses', 'Ownerâ€™s Equity (Drawing)']:
        normal_side = 'Debit'
    else:
        normal_side = 'Credit'

    # Calculate balance for each entry
    for idx, row in df_account_entries.iterrows():
        debit = row['debit'] if not pd.isnull(row['debit']) else 0.0
        credit = row['credit'] if not pd.isnull(row['credit']) else 0.0

        if normal_side == 'Debit':
            balance += debit - credit
        else:
            balance += credit - debit

        df_account_entries.at[idx, 'Balance'] = balance

    # Format the DataFrame
    df_account_entries['Date'] = df_account_entries['date'].dt.strftime('%b %d')
    df_account_entries.rename(columns={
        'journal_description': 'Description',
        'journal_id': 'P/R or F',
        'debit': 'Debit',
        'credit': 'Credit'
    }, inplace=True)

    # Select relevant columns
    df_account_ledger = df_account_entries[['Date', 'Description', 'P/R or F', 'Debit', 'Credit', 'Balance']]

    # Append the ledger DataFrame to the dictionary
    ledgers[account] = df_account_ledger

In [275]:
# Fetch the Chart of Accounts to get the correct order
df_chart_of_accounts = pd.read_sql_query(
    """
    SELECT id as account_id, account_title, account_type
    FROM chartofaccounts
    ORDER BY id
    """,
    conn
)

# Close the database connection
conn.close()

# Initialize a list to hold the ledger rows
ledger_rows = []

# Loop over each account in the Chart of Accounts
for idx, account_row in df_chart_of_accounts.iterrows():
    account = account_row['account_title']

    # Check if the account has entries
    if account in ledgers:
        df_account_ledger = ledgers[account]

        # Append the account header
        ledger_rows.append({'Date': '', 'Description': f'Account: {account_row["account_id"]} - {account}', 'P/R or F': '', 'Debit': '', 'Credit': '', 'Balance': ''})
        # Append column headers
        ledger_rows.append({'Date': 'Date', 'Description': 'Description', 'P/R or F': 'P/R or F', 'Debit': 'Debit', 'Credit': 'Credit', 'Balance': 'Balance'})

        # Append the ledger entries
        for idx, row in df_account_ledger.iterrows():
            ledger_rows.append(row.to_dict())

        # Append an empty row for spacing
        ledger_rows.append({'Date': '', 'Description': '', 'P/R or F': '', 'Debit': '', 'Credit': '', 'Balance': ''})
    else:
        # Accounts with no entries
        continue

# Create the final General Ledger DataFrame
df_general_ledger = pd.DataFrame(ledger_rows)

In [276]:
# Initialize an empty list to hold the trial balance data
trial_balance_data = []

# Loop over each account in the Chart of Accounts
for idx, account_row in df_chart_of_accounts.iterrows():
    account_id = account_row['account_id']
    account_title = account_row['account_title']
    account_type = account_row['account_type']

    # Find the ledger entries for this account in df_general_ledger
    # First, find the index where this account starts
    account_header = f'Account: {account_id} - {account_title}'
    header_indices = df_general_ledger[df_general_ledger['Description'] == account_header].index.tolist()

    if not header_indices:
        # Account has no entries
        continue

    start_idx = header_indices[0]
    # The entries start after two rows (account header and column headers)
    entries_start_idx = start_idx + 2

    # Find the end index (next empty row or end of DataFrame)
    try:
        end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
    except IndexError:
        end_idx = len(df_general_ledger)

    # Slice the ledger entries for this account
    df_account_ledger = df_general_ledger.iloc[entries_start_idx:end_idx]

    if df_account_ledger.empty:
        continue

    # Get the last non-null Balance value
    df_account_ledger = df_account_ledger[df_account_ledger['Balance'] != '']
    if df_account_ledger.empty:
        continue
    ending_balance = df_account_ledger['Balance'].iloc[-1]

    # Remove commas and convert balance to float
    ending_balance = float(str(ending_balance).replace(',', ''))

    # Determine if balance is Debit or Credit based on account type
    if account_type in ['Assets', 'Expenses', 'Ownerâ€™s Equity (Drawing)']:
        balance_type = 'Debit'
    else:
        balance_type = 'Credit'

    # Append to trial balance data
    trial_balance_data.append({
        'Account Title': account_title,
        'Account Type': account_type,
        'Debit': ending_balance if balance_type == 'Debit' else 0.0,
        'Credit': ending_balance if balance_type == 'Credit' else 0.0
    })

/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]
/tmp/ipykernel_35693/2937039273.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  end_idx = df_general_ledger[df_general_ledger.index > entries_start_idx][df_general_ledger['Date'] == ''].index[0]

In [277]:
# Create the Trial Balance DataFrame
df_trial_balance = pd.DataFrame(trial_balance_data)

# Ensure that Debit and Credit columns are numeric
df_trial_balance['Debit'] = pd.to_numeric(df_trial_balance['Debit'], errors='coerce')
df_trial_balance['Credit'] = pd.to_numeric(df_trial_balance['Credit'], errors='coerce')

# Fill NaN with zeros
df_trial_balance['Debit'].fillna(0.0, inplace=True)
df_trial_balance['Credit'].fillna(0.0, inplace=True)

/tmp/ipykernel_35693/1163026571.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trial_balance['Debit'].fillna(0.0, inplace=True)
/tmp/ipykernel_35693/1163026571.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trial_balance['Credit'].fillna(0.0, inplace=True)

In [278]:
# Calculate total debits and credits
total_debit = df_trial_balance['Debit'].sum()
total_credit = df_trial_balance['Credit'].sum()

In [279]:
# Append totals row using pd.concat()
totals_row = pd.DataFrame({
    'Account Title': ['Totals'],
    'Account Type': [''],
    'Debit': [total_debit],
    'Credit': [total_credit]
})

df_trial_balance = pd.concat([df_trial_balance, totals_row], ignore_index=True)

In [280]:
# Set display options for better readability
pd.set_option('display.float_format', '{:,.2f}'.format)

# Display the Trial Balance
print("FDN Cleaning Service")
print("Trial Balance")
print("September 30, 2024\n")
print(df_trial_balance[['Account Title', 'Debit', 'Credit']].to_string(index=False))

FDN Cleaning Service
Trial Balance
September 30, 2024

            Account Title      Debit     Credit
                     Cash  38,300.00       0.00
      Accounts Receivable  31,300.00       0.00
        Cleaning Supplies  21,400.00       0.00
Prepaid Insurance Expense   1,700.00       0.00
       Cleaning Equipment  25,600.00       0.00
   Transportation Vehicle  47,000.00       0.00
         Accounts Payable       0.00  28,000.00
            Notes Payable       0.00  34,600.00
 Unearned Service Revenue       0.00   6,200.00
 Faith D. Nakpil, Capital       0.00  62,000.00
 Faith D. Nakpil, Drawing  10,000.00       0.00
        Cleaning Revenues       0.00  72,900.00
         Salaries Expense  16,300.00       0.00
        Utilities Expense     900.00       0.00
             Rent Expense   7,300.00       0.00
      Advertising Expense   1,700.00       0.00
    Miscellaneous Expense   2,200.00       0.00
                   Totals 203,700.00 203,700.00

In [281]:
# Export the Trial Balance to an Excel file
df_trial_balance.to_excel('Trial_Balance.xlsx', index=False)